/* header section design  */
.first-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url(./images/banner/banner1.png);
    height: 809px;

}
body{
    width: 100%;
}

/* .img-part{
    height: auto;
    width: auto;
}
.img-set{
    max-width: 100%;
    max-height: 100%;
} */
.text-part{
    margin-left: 800px;
    

   
}
.title-text{
    font-size: 56px;
    font-weight: 700px;
}
.main-text{

}
.btn-first{
    background: #F15B22;
    color: #FFFFFF;
    border: 0;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}
.btn-class{
    margin-left: 150px;
}
/* button {
    position: absolute;
    right: 0; 
  } */

  /* main section design  */
  .main-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  main{
    max-width: 1140px;
    margin: 0 auto;
    }

  .main-img{
    /* margin: 50px 100px; */
    margin-left: 70px;
    margin-top: 84px;
  }
 .main-text-title{
    color:  #151414;
font-family: "Work Sans";
font-size: 40px;
font-weight: 700;
 }

.main-container{
    margin-left: 40px;
    margin-top: 197px;
 }

.main-description{
    color: #444343);
font-family: "Work Sans";
font-size: 16px;
font-weight: 400;

 }

.other-description{
    color: #444343;
font-family: "Work Sans";
font-size: 16px;
font-weight: 400;
line-height: 30px;
 }

 .plan{
    margin-left: 25px;
 }

 .plan-description{
    display: flex;
    justify-content: space-evenly;
    margin-left: -17px;
    gap: 30px;
 }
 .my-plan{
    color: #151414;
font-family: "Work Sans";
font-size: 40px;
font-weight: 700;
text-align: center;
margin-top: 70px;
padding: 20px;
 }
 .plan-img{
margin-left: 80px;
 }
 .skill{
    color:  #151414;

font-family: "Work Sans";
font-size: 30px;
font-weight: 700;
 }
 .para{
    color: var(--Dark-03, #737272);
text-align: center;
font-family: "Work Sans";
font-size: 25px;
font-style: normal;
font-weight: 500;
line-height: normal;
 }
 .plan-img1{
    margin-left: 22px;
 }
 .skill1{
    color: var(--Dark-01, #151414);
text-align: center;
font-family: "Work Sans";
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;

 }
 .para1{
    color: var(--Dark-03, #737272);
text-align: center;
font-family: "Work Sans";
font-size: 25px;
font-style: normal;
font-weight: 500;
line-height: normal;
 }
 .plan-img2{
    margin-left: 22px;
 }
 .skill2{
    color: var(--Dark-01, #151414);
text-align: center;
font-family: "Work Sans";
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;

 }
.para2{
    color: var(--Dark-03, #737272);
text-align: center;
font-family: "Work Sans";
font-size: 25px;
font-style: normal;
font-weight: 500;
line-height: normal;
 }
 .plan-img3{
    margin-left: 22px;
 }
 .skill3{
    color: var(--Dark-01, #151414);
text-align: center;
font-family: "Work Sans";
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;

 }
 .para3{
    color: var(--Dark-03, #737272);
text-align: center;
font-family: "Work Sans";
font-size: 25px;
font-style: normal;
font-weight: 500;
line-height: normal;
 }

 .bg-img2{
background-image: url(./images/gradient2.png),url(./images/watch.png);
width: 1140px;
height: 300px;
margin-top: 30px;
 }
 .call-section-heading{
    color: #FFF;
font-family: "Work Sans";
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;

padding: 40px;
 }

.btn-class2{
    width: 160px;
height: 64px;
border-radius: 5px;
background: #FFF;
border: 0;
margin-left: 30px;
margin-top: -20px;
}
.footer-section{
    background-color: var(--Dark-01, #151414);
    padding: 30px;
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.footer-section-heading{
    color: #F8F8F8;

font-family: "Work Sans";
font-size: 45px;
font-weight: 700;

}
.footer-section-description{
    color: #FFF;
font-family: "Work Sans";
font-size: 16px;
font-weight: 400;
}

.footer-image{
    padding: 16px;
    margin-left: -16px;
}
.Subscribe1{
    color: #FFF;
font-size: 25px;
font-weight: 600;

}
.footer-input{
    padding: 10px;
    border-radius: 8px;
border: 1px solid #FFF;
}
.Subscribe{
    margin-top: 20px;
    color: #F15B22;
font-size: 20px;
font-weight: 600;
padding: 10px;
border-radius: 8px;
background: #FFF;
}